#container {
  position: relative; /* De container moet 'relative' zijn om absolute positie van kind-elementen mogelijk te maken */
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: auto; /* Voorkom vervorming */
}

#imageWrapper {
  position: relative; /* De container moet 'relative' zijn om absolute positie van kind-elementen mogelijk te maken */
  height: 100vh; /* Zorg ervoor dat de container de volledige hoogte van het scherm heeft */
}

#background {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: auto; /* Voorkom vervorming */
  z-index: 0;
}

#mijnAfbeelding1 {
  width: 5%;
  border-radius: 5px;
  cursor: pointer;
  position: absolute; /* Absoluut gepositioneerd binnen de container */
  top: 50%;
  left: 35%;
  z-index: 3; /* Zorg ervoor dat deze boven de achtergrondafbeelding komt */
}

#mijnAfbeelding2 {
  width: 6%;
  border-radius: 5px;
  cursor: pointer;
  position: absolute; /* Absoluut gepositioneerd binnen de container */
  top: 70%;
  left: 35%;
  z-index: 3; /* Zorg ervoor dat deze boven de achtergrondafbeelding komt */
}

#mijnAfbeelding3 {
  width: 5%;
  border-radius: 5px;
  cursor: pointer;
  position: absolute; /* Absoluut gepositioneerd binnen de container */
  top: 69%;
  left: 60%;
  z-index: 3; /* Zorg ervoor dat deze boven de achtergrondafbeelding komt */
}

#mijnAfbeelding4 {
  width: 5%;
  border-radius: 5px;
  cursor: pointer;
  position: absolute; /* Absoluut gepositioneerd binnen de container */
  top: 50.5%;
  left: 59.9%;
  z-index: 3; /* Zorg ervoor dat deze boven de achtergrondafbeelding komt */
}

#mijnAfbeelding5 {
  width: 15%;
  border-radius: 5px;
  position: absolute;
  top: 45%;
  left: 44%;
  z-index: 1; /* Zorg ervoor dat deze boven de eerste afbeelding komt */
}
