#inputWrapper {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2; /* Zorg ervoor dat de input boven de achtergrond komt */
  background-color: rgba(
    255,
    255,
    255,
    0.7
  ); /* Maak de achtergrond een beetje doorzichtig */
  padding: 10px;
  border-radius: 5px;
}

#inputWrapper label {
  font-size: clamp(20px, 2vw, 20px);
}

#inputWrapper input {
  font-size: clamp(16px, 2vw, 20px);
  padding: 5px;
  border-radius: 5px;
}
