#inputWrapper {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2; /* Zorg ervoor dat de input boven de achtergrond komt */
  background-color: rgba(
    246,
    214,
    243,
    0.601
  ); /* Maak de achtergrond een beetje doorzichtig */
  padding: 10px;
  border-radius: 5px;
}

#inputWrapper label {
  font-size: clamp(20px, 2vw, 20px);
  font-family: "Lucida Handwriting", cursive;
  color: rgb(149, 36, 151);
}

#inputWrapper input {
  font-size: clamp(16px, 2vw, 20px);
  padding: 5px;
  border-radius: 5px;
  border: rgb(91, 26, 117) 1px solid;
}
