body {
  padding: 0;
  margin: 0;
}

#container {
  background-color: #ffffff;
  background-size: 4em 4em;
  height: 100vh;
  position: relative;
  left: 10%;
  top: 100px;
}

#mijnAfbeelding {
  width: 100px;
  height: 100px;
  background-color: #afda9f;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
}
