/* Wachtwoord display */
#passwordstrengthdiv {
  position: absolute;
  top: 79%;
  left: 50%;
  height: 4%;
  transform: translateX(-50%);
  z-index: 1;
  background-color: rgba(194, 232, 235, 0.601);
  padding: 3px;
  border-radius: 10px;
  font-size: clamp(8px, 0.5vw, 14px);
  font-family: "Lucida Console";
  color: rgb(149, 36, 151);
  visibility: hidden;

  /* Flexbox instellingen voor verticaal en horizontaal centreren */
  display: flex;
  align-items: center; /* Verticaal centreren */
  justify-content: center; /* Horizontaal centreren */

  /* Zorg ervoor dat de tekst binnen de div breekt als het te lang is */
}
