#titel {
  position: fixed;
  top: 18%; /* Zet de titel een beetje van de bovenkant van de pagina */
  left: 49.5%;
  transform: translateX(
    -50%
  ); /* Dit zorgt ervoor dat de titel horizontaal gecentreerd is */
  font-size: clamp(50px, 4vw, 60px);
  z-index: 2; /* Zorg ervoor dat de titel boven andere elementen komt */
  color: #d997e6; /* Kleur van de titel */
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black; /* 1px rand in alle richtingen */
}
