#titel {
  position: fixed;
  top: 18%; /* Zet de titel een beetje van de bovenkant van de pagina */
  left: 49.5%;
  transform: translateX(
    -50%
  ); /* Dit zorgt ervoor dat de titel horizontaal gecentreerd is */
  font-size: 20px;
  font-family: "Lucida Handwriting", cursive;
  z-index: 2; /* Zorg ervoor dat de titel boven andere elementen komt */
  color: #fceafc; /* Kleur van de titel */
  text-shadow: -2px -2px 0 rgb(121, 11, 129), 2px -2px 0 rgb(117, 25, 136),
    -2px 2px 0 rgb(194, 43, 171), 2px 2px 0 rgb(82, 16, 88);
}
